.container{
    background-color:rgb(112, 232, 198);
    display: grid;
    grid-template-columns: auto auto auto auto;   /* this creates 4 columns of equal width */
    grid-gap: 10px;       /* this adds 10px of space between all rows and columns */ 
    height: 650px;
}

.thing1{
    grid-column-start: 1;  /* item starts on column line 1 */
    grid-column-end: 3;    /* item ends on column line 3 */
    grid-row-start: 1;
    grid-row-end: 4;
}

.Item {
    background-color: rgb(248, 133, 221);
    color: black;
    font-size: 30px;
    padding: 20px;
    height: 650px;

}

