.container{
    background-color:rgb(0, 221, 255);
    display: grid;
    grid-template-columns: auto auto auto auto;   /* this creates 4 columns of equal width */
    grid-gap: 10px;       /* this adds 10px of space between all rows and columns */ 
    height: 650px;
}

.Item {
    background-color: rgb(137, 227, 245);
    color: black;
    font-size: 30px;
    padding: 10px;
}

.thing1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4; 
    background-color: cornsilk;
}

.thing6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(255, 224, 224);
}
